  <div id='home_index_main'>
    <%= image_tag 'logo_up_white.png',:id => "logo_up_white", :alt => "the Semantic Wiki of Mathematics" %>
    <%= image_tag 'logo_down_white.png',:id => "logo_up_white", :alt => "Logo_down_white" %>

        <p>
          <a href='http://en.<%= $t2ku_domain %>/'>English</a>
          <span class='separator'>&nbsp;|&nbsp;</span>
          <a href='http://zh.<%= $t2ku_domain %>/'>中文</a>
        </p>
    </div>
  </body>